<%= provide(:title, 'home') %>

<% if !signed_in? %> 
  <h1>Welcom to theGolfApp</h1>
  </br>
  <p><%= link_to "Sign up", signup_path, class:"btn btn-info" %></p>
  </br>
<% else %>
  <h1>homepage for <%= @current_user.name %></h1>
  </br>
  <p></p>
  </br>
<% end %>