<%= provide(:title, "All users") %>
<h2>Users</h2>
</br>
<div class="row">
  <% if current_user.admin? %>
  <div class="span9">
  <% else %>
  <div class="span7">
  <% end %>
    <%= render 'shared/users_table' %>
  
  </div>
  <!-- span6  -->
</div>
<!-- row -->