@import "bootstrap";
$menu-text-color: #999999;
$menu-color:  #2c2c2c;
$link-color: #0088cc;
$link-hover-color: #005580;

body {
  position: relative;
  padding-top: 90px;
  background-color: white;
  background-position: 0 40px;
}

.footer {
margin-top: 30px;
padding: 10px 0 10px;
border-top: 1px solid #E5E5E5;
}

.navbar-inner {

  background-color: $menu-color;
  background-image: none;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

.navbar .navbar-link {
  color: #999999;
}

.navbar .navbar-link:hover {
  color: #ffffff;
}